.recipe_edit{
    padding: 30px;
    padding-top: 10px;
    position: fixed;
    right: 0;
    top: 0;
    width:50%;
    max-height: 100%;
    overflow-y: auto;
}

.r-e_remove-button-container {
    text-align: end;
}
.r-e_remove-button{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 1.5rem;
}

.r-e_details-grid{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 40px;
    row-gap: 5px;
}

.r-e_edit-label{
    font-weight: bold;
}

.r-e_input{
    border-radius: 5px;
    border: 1px solid black;
    font-size: 15px;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;   
}

textarea.r-e_input {
    resize: none;
    height: 200px;
}

.r-e_ingredient-grid{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
    margin-left: 20px;
    margin-top: 10px;
   

}

.r-e_add-ingredient-button-container{
text-align:  center;
margin-top: 20px;
}


@media (max-width: 1100px){
    .r-e_details-grid,
    .r-e_ingredient-grid {
        grid-template-columns: 1fr;
    }
}